/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  * {
    font-family: 'Lora', serif;
  }

  body {
    text-align: center;
    background-color: rgba(59, 199, 255, 0.226);
    color: rgba(255, 255, 255, 0.596);
    text-shadow: black 2px 2px;
    font-size: 1.25em;
  }

  button {
    margin-right: 5px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: black 1px 1px;
  }
